html,
body {
  height: 100%;
}

@font-face {
  font-family: "VCR_OSD_MONO", "mono-space";
  src: url(./game-assets/fonts/VCR_OSD_MONO.ttf) format("truetype");
}

body {
  margin: 0;
  /* font-family: "VCR_OSD_MONO", "mono-space"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
